# ======================================
#  ENTORNO VIRTUAL
# ======================================
forge_env/
env/
venv/
__pycache__/
*.pyc

# ======================================
#  ARCHIVOS SENSIBLES
# ======================================
.env
*.env

# ======================================
#  BASES DE DATOS
# ======================================
*.sqlite
*.db

# ======================================
#  LOGS
# ======================================
data/logs/
*.log

# ======================================
#  ARCHIVOS TEMPORALES
# ======================================
data/temp/
temp/
tmp/
*.tmp

# ======================================
#  EXPORTS Y REPORTES
# ======================================
data/exports/

# ======================================
#  CONFIGS LOCALES
# ======================================
config/settings.json

# ======================================
#  SISTEMA Y MISC.
# ======================================
.DS_Store
Thumbs.db
